@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
  --primary-grey-dark: #4f4f4f;
  --bg-header-logo-color: #f5f5f5;
  --header-gradient: linear-gradient(0deg, #f5f5f5, #f5f5f5),
    linear-gradient(0deg, #e5e5e5, #e5e5e5);
  --primary-grey-lighter: #d1d1d1;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--primary-grey-dark);
  background: var(--header-gradient);
}

.header__logo {
  background-color: var(--primary-grey-lighter);
  color: var(--primary-grey-dark);
  border: 2px solid var(--primary-grey-dark);
  border-radius: 100px;
  padding: 12px 60px;
}
