@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

@media only screen and (max-width: 600px) {
  .add-book-modal {
    width: 50%;
    height: 60%;
  }
}

@media only screen and (min-width: 992px) {
  .add-book-modal {
    width: 25%;
    height: 60%;
  }
}

:root {
  --link-color: #7B61FF;
  --primary-red-color: #ED584F;
  --primary-green-color: #29BB89;
  --primary-yellow-color: #FFD56B;
  --modal-border-color: #dee2e6;
  --placeholder-color: background: #ACACAC;
  --primary-grey-dark: #4f4f4f;
  --primary-white-color: #f5f5f5;
  --primary-grey-light: #e5e5e5;
  --primary-grey-lighter: #d1d1d1;
  --grey-gradient: linear-gradient(0deg, #f5f5f5, #f5f5f5),
    linear-gradient(0deg, #e5e5e5, #e5e5e5);
  --header-shadow: 0px 8px 10px 0px rgba(34, 60, 80, 0.2);
  --card-shadow: 0px 5px 4px 0px #2C2B2A1A;
  
}

.success {
  border: 2px solid var(--primary-green-color);
}

.error {
  border: 2px solid var(--primary-red-color)
}

.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--primary-grey-dark);
  background-color: var(--primary-grey-dark);
  box-shadow: var(--header-shadow);
}

.header__logo {
  background-color: var(--primary-grey-dark);
  color: white;
  border: 5px solid white;
  border-radius: 100px;
  padding: 12px 60px;
}

.main-content {
  height: 100vh;
}

.main-content__container__add-book-button {
  display: flex;
  justify-content: center;
}

.main-content__add-book-button,
.add-book-modal__submit-btn {
  font-size: 14px;
  margin: 20px 0 20px;
  width: 150px;
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--primary-grey-dark);
  border: none;
  border-radius: 8px;
  flex-shrink: 0;
}

.fa-plus {
  padding-right: 8px;
}

.main-content__add-book-button:hover,
.add-book-modal__submit-btn:hover {
  background-color: black;
}

.main-content__books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.books-grid__book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--card-shadow);
  border: 1px solid var(--primary-grey-light);
  border-radius: 8px;
  padding: 40px;
}

.books-grid__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.card-buttons {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  width: 100%;
  border-radius: 8px;
  border: 2px solid var(--primary-grey-dark);
}

.books-grid__book-is-read {
  background-color: var(--primary-green-color);
  color: white;
  
}

.books-grid__book-remove {
  background-color: var(--primary-grey-light);
}

.books-grid__book-remove:hover {
  background-color: var(--primary-red-color);
  color: white;
}

.card-text {
  font-size: 20px;
  font-weight: 700;
}

.add-book-modal {
  position: fixed;
  /* Centering modal */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* width: 25%; */
  background-color: white;
  box-shadow: 0px 20px 20px 0px #00000014;
  border: 2px solid var(--modal-border-color);
  border-radius: 8px;
  padding: 20px 50px;
  z-index: 10;
}

.add-book-modal__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.add-book-modal__header {
  font-size: 20px;
  font-weight: 700;
}

.add-book-modal__form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.add-book-modal__contents__checkbox-container {
  display: flex;
  gap: 5px;
}

input {
  border: 1px solid #d1d1d1;
  padding: 14px 16px;
  border-radius: 8px;
  font-size: 14px;
  color: var(--placeholder-color)
}

input:hover, input:active {
  border-color: var(--primary-grey-dark);
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.add-book-modal__close-button {
  display: inline-block;
  padding: 12px 16px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0
}

.footer {
  background-color: var(--primary-grey-dark);
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.a, a:visited {
  color: var(--link-color); 
}

.add-book-modal__input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

input[type="text"], input[type="number"] {
  width: 120%;
}

