@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

@media only screen and (max-width: 600px) {
  .add-book-modal {
    width: 50%;
    height: 60%;
  }
}

@media only screen and (min-width: 992px) {
  .add-book-modal {
    width: 25%;
    height: 50%;
  }
}

:root {
  --modal-border-color: #dee2e6;
  --placeholder-color: background: #ACACAC;
  --primary-grey-dark: #4f4f4f;
  --primary-white-color: #f5f5f5;
  --primary-grey-light: #e5e5e5;
  --primary-grey-lighter: #d1d1d1;
  --grey-gradient: linear-gradient(0deg, #f5f5f5, #f5f5f5),
    linear-gradient(0deg, #e5e5e5, #e5e5e5);
  --header-shadow: 0px 8px 10px 0px rgba(34, 60, 80, 0.2);
}

.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--primary-grey-dark);
  background-color: var(--primary-grey-dark);
  box-shadow: var(--header-shadow);
}

.header__logo {
  background-color: var(--primary-grey-dark);
  color: white;
  border: 5px solid white;
  border-radius: 100px;
  padding: 12px 60px;
}

.main-content {
  height: 100vh;
}

.main-content__container__add-book-button {
  display: flex;
  justify-content: center;
}

.main-content__add-book-button,
.add-book-modal__submit-btn {
  font-size: 14px;
  margin: 20px 0 20px;
  width: 150px;
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--primary-grey-dark);
  border: none;
  border-radius: 8px;
}

.fa-plus {
  padding-right: 8px;
}

.main-content__add-book-button:hover,
.add-book-modal__submit-btn:hover {
  background-color: black;
}

.main-content__books-grid {
  display: grid;
  grid-template-columns: repeat(autofill, minmax(100px, 1fr));
}

.add-book-modal {
  position: fixed;
  /* Centering modal */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* width: 25%; */
  background-color: white;
  box-shadow: 0px 20px 20px 0px #00000014;
  border: 2px solid var(--modal-border-color);
  border-radius: 8px;
  padding: 20px 50px;
}

.add-book-modal__contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.add-book-modal__header {
  font-size: 20px;
  font-weight: 700;
}

.add-book-modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-book-modal__contents__checkbox-container {
  display: flex;
  gap: 5px;
}

input {
  border: 1px solid #d1d1d1;
  padding: 14px 16px;
  border-radius: 8px;
  font-size: 14px;
  color: var(--placeholder-color)
}

input:hover, input:active {
  border-color: var(--primary-grey-dark);
}